*{
  width: 100%;
  word-wrap: normal;
}

.h2{
  font-size: 30px;
  text-align: center;
}


/* メニューアイコンここから */
header {
  padding: 16px;
  /* background: #1f2c37; */
  margin-bottom: 100px;
  position: sticky;
  top: 10px;
  z-index: 1;
}

.h-menu{
  position: relative;
}

/*inputのcheckboxは非表示に*/
.h-menuCheckbox {
  display:none;
}

/*ハンバーガーメニュー*/
.h-menu_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/*3本線*/
.hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 100;
    top:0;
    bottom:0;
    width: 32px;
    height: 3px;
    background:#1f2c37;
    cursor: pointer;
}
.hamburger-icon:before {
    top: 10px;
}
.hamburger-icon:after {
    top: 20px;
}

/*メニュー以外を暗くする*/
#h-menu_black {
    display: none;
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .7s ease-in-out;
}

/*中身*/
#h-menu_content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    padding: 53px 16px 16px;
    background: #244969;
    overflow: auto;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

/*チェックボックスにチェックが入ったら表示*/
input:checked ~ .h-menu_icon .hamburger-icon{
    background: transparent;
}
input:checked ~ .h-menu_icon .hamburger-icon::before{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top:10px;
    z-index:999;
}
input:checked ~ .h-menu_icon .hamburger-icon::after{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top:10px;
    z-index:999;
}
input:checked ~ #h-menu_black {
    display: block;
    opacity: .8;
}
#h-menu_checkbox:checked ~ #h-menu_content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
.h-menu_icon .hamburger-icon,
.h-menu_icon .hamburger-icon::before,
.h-menu_icon .hamburger-icon::after,
#h-menu_black,
#h-menu_content{
    -webkit-transition: all .3s;
    transition: all .3s;
}

#h-menu_content ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#h-menu_content ul li{
    border-bottom: solid 1px white;
}
#h-menu_content li a {
    display: block;
    color: white;
    font-size: 14px;
    padding: 24px;
    text-decoration: none;
    transition-duration: 0.2s;
}
#h-menu_content li a:hover {
    background: #1f2c37;
}
.sanbonsen{
  width:30px;
  height: 30px; 
}

.sanbonsen:hover{
opacity: 0.5;
cursor: pointer;
}


.header-nav{
  display: flex;

 }
 /* メニューアイコンここまで */

 .first-block{ 
 background: center/cover  url("../images/kagawa.jpg");
 height: 500px;
 width: 100%;
 font-size: 50px;
 font-family: 'HGP行書体';
 padding-top: 10px;
 text-align: center;
}

.second-block h2{
  padding-top: 200px;
  font-size: 30px;
  text-align: center;

}

.second-block ul{
  width: 100%;
  color: #5d627b;
  background: rgb(183, 212, 245);
  border-top: solid 5px #5d627b;
  border-bottom: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}


.About_container1{
    display: flex;
    width: 90%;
    padding-right: 20px;
}
.About_text1{
  width: 90%;
}
.About_detail{
  display: flex;
  margin-top: 20px;
  box-sizing: border-box;
 }
.About_container2,.About_container3{
  display: flex;
  width: 45%;
  margin:10px;
}

@media screen and (max-width: 770px){
  .About_container2,.About_container3 {
    display: block;
    width: 45%;
   margin:10px;

  }
  }



img.self{
  width: 200px;
  height: 200px;
  position:relative;
  top: 10%;
  left:10%;
  border-radius: 50%;

}


img.fight,img.hike{
  width: 100%;
  height: 300px;
  margin-right: 30px;
  justify-content: space-between;
}

@media screen and (max-width: 770px){
  img.self{
    width: 150px;
    height: 150px;

  }

  img.fight, img.hike{
    width: 100%;
    height: 200px; 
  }
}


@media screen and (max-width: 480px){
  img.self{
    width: 120px;
    height: 120px;

  }

  img.fight,img.hike{
    width: 100%;
    height: 150px; 
  }
}

.third-block{
  font-size: 30px;
  text-align: center;
  height: 400px;
}

.third-block h2{
  padding-top: 200px;
  font-size: 30px;
}
/* 経歴のところここから */

.fourth-block h2{
  font-size: 30px;
  text-align: center;
  padding-top: 200px;

}
.info{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px;
  text-align: center;
  width: 100%;
  height:400px;
}

.texts{
  padding: 0.5em 1em;
  margin: 2em 0; 
  color: #5d627b;
  background:  rgb(183, 212, 245);
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  box-sizing: border-box;
  width: 50%;
  height:50%;
}
.info h3{
  text-decoration: underline;
  
}
@media (max-width: 770px) {            
  /* .flex-listにflex-wrapを指定してください */          
 .info {            
  flex-wrap: wrap;           
  }            
              

  /* .flex-list li にwidthを50%に指定してください */            
   .info li {            
  width: 48%;
  padding: 10px;
  box-sizing: border-box; 
  float: left;           
  }            
}

/* ここまで */

/* ここからお問い合わせフォーム */
.Form h2 {
  padding-top: 100px;
  font-size: 30px;
  text-align: center;
}

.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #283b4b;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background:rgb(183, 212, 245);
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background:rgb(183, 212, 245);
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #283b4b;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}
/* ここまでお問い合わせフォーム */

/* ここからページトップ */

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background:#283b4b;
  opacity: 0.6;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
/* ここまでページトップ */

footer{
  text-align: center;
  padding-top: 100px;
}